.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.infobox {
    position: absolute;
    top: 24px;
    background-color: #f1c40f;
    border-radius: 5px;
    z-index: 10;
    padding: 15px;
}
.no-padding {
    padding: 0px;
}
.no-margin {
    margin: 0px;
}
.no-bot-margin {
    margin-bottom: 0px;
}

.result-smiley-container {
  padding:0px;
  background:white;
  overflow:hidden;
}
.result-smiley-container:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.result-smiley {
  /* Usually in .ng-animate but we want a fixed aspect ratio container*/
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  max-width:200px;
  width:100%;
}

.result-smiley.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.result-smiley.ng-leave.ng-leave-active {
  top:200px;
}

.result-smiley.ng-enter {
  top:-200px;
}

.result-smiley.ng-leave {
  top:0;
}

.result-smiley.ng-enter.ng-enter-active {
  top:0;
}
